<!DOCTYPE html>
<html>
<head>
    <title>Defect Detection</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->
</head>
<body>
    <div id="main-card">
        {% if prediction %}
            <h1>Prediction: {{ prediction }}</h1>
            <form method="get">
                <input type="submit" value="Try another image">
            </form>
        {% else %}
            <h1>Defect Detection</h1>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="image">
                <button type="submit">Predict</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
