<!DOCTYPE html>
<html>
<head>
    <title>Defect Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css?v={{ version }}">
</head>
<body>
    <div class="topbar">
        <a href="/">
            <button class="topbar-btn" id="home-btn">HOME</button>
        </a>
        <a href="/metrics">
            <button class="topbar-btn" id="metrics-btn">METRICS</button>
        </a>
    </div>
    <div class="main-card">
        <h2>Metrics</h2>
        <h4>Notebook: <a href="https://www.kaggle.com/code/abdulrehaman706/simple-model-for-defect-detection-in-pp-woven-bags">simple-model-for-defect-detection-in-pp-woven-bags-Version 2</a></h4>
        <div>
          <h3>Loss Plot</h3>
          <img src="/static/metrics_plots/loss.JPG" />
        </div>
        <div>
          <h3>Accuracy Plot</h3>
          <img src="/static/metrics_plots/accuracy.JPG" />
        </div>
        <div>
            <h3>Classification Report</h3>
            <img src="/static/metrics_plots/classification_report.JPG" />
          </div>
        <div>
          <h3>Confusion Matrix Plot</h3>
          <img src="/static/metrics_plots/confusion_matrix.JPG" />
        </div>
      </div>
</body>
</html>
